# =========================
# Java compilados
# =========================
out/
bin/
build/
target/

*.class
*.jar
*.war
*.ear

# =========================
# Logs
# =========================
*.log

# =========================
# Archivos temporales
# =========================
*.tmp
*.temp

# =========================
# VS Code
# =========================
.vscode/

# =========================
# IntelliJ / JetBrains
# =========================
.idea/
*.iml

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# Archivos de ejecución
# =========================
hs_err_pid*